# Ex2 - Getting and Knowing your Data


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the chipotle dataset

In [2]:
df = pd.read_csv('chipotle.tsv', sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv('chipotle.tsv', sep = '\t')

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
chipo.shape[0]

4622

In [8]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [10]:
len(chipo.columns)

5

chipo.shape[1]

### Step 7. Print the name of all the columns.

In [13]:
print(chipo.columns.to_list())

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [14]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [18]:
item_quantities = chipo.groupby('item_name')['quantity'].sum()
most_ordered_item = item_quantities.idxmax()

print (most_ordered_item)

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [19]:
most_ordered_quantity = item_quantities.max()
print(most_ordered_quantity)

761

### Step 11. What was the most ordered item in the choice_description column?

In [22]:
choice_counts = chipo.groupby('choice_description')['quantity'].sum()
most_ord_choice_descr = choice_counts.idxmax()
print(most_ord_choice_descr)

[Diet Coke]

### Step 12. How many items were orderd in total?

In [24]:
most_ord_choice_descr_count = choice_counts.max()
print(most_ord_choice_descr_count)

159

### Step 13. Turn the item price into a float

In [25]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

#### Step 13.a. Check the item price type

In [26]:
chipo['item_price'].dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [29]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.strip().replace('$', '')))

AttributeError: 'float' object has no attribute 'strip'

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?